<nav class="left-nav">

  <a mat-button routerLink="/prearrangement" routerLinkActive="active">
    <mat-icon>assignment</mat-icon>
    Pre-arrangement Process
  </a>

  <a mat-button routerLink="/team-performance" routerLinkActive="active">
    <mat-icon>groups</mat-icon>
    Team Performance
  </a>

  <a mat-button routerLink="/process-performance" routerLinkActive="active">
    <mat-icon>analytics</mat-icon>
    Process Performance
  </a>

  <a mat-button routerLink="/admin-console" routerLinkActive="active">
    <mat-icon>admin_panel_settings</mat-icon>
    Admin Console
  </a>
</nav>
