<nav class="left-nav">

  <a mat-button *ngIf="auth.canAccess({ users: ['demo']})" [class.active]="isActive('/prearrangement')" (click)="navigateTo('/prearrangement')">
    <mat-icon>assignment</mat-icon>
    Launch Pre-arrangement
  </a>

  <a mat-button [class.active]="isActive('/user-tasks')" (click)="navigateTo('/user-tasks')">
    <mat-icon>groups</mat-icon>
    Work
  </a>

  <!-- External links that open in iframe -->
  <a mat-button routerLink="iframe" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    Process Dashboard
  </a>

  <a mat-button [class.active]="isActive('/team-performance')" (click)="navigateTo('/team-performance')">
    <mat-icon>task</mat-icon>
    Task Dashboard
  </a>

  <a mat-button routerLink="/process-performance" routerLinkActive="active">
    <mat-icon>analytics</mat-icon>
    Reports
  </a>


</nav>